- first = reviews.keys.sort.first
- last = reviews.keys.sort.last
- offset = first.wday
- escape = false
- point = 0
%table.calendar{:id => "calendar-#{first.strftime("%Y-%m")}"}
  %caption
    %h3
      = first.strftime("%B %Y")
      = "(#{reviews.values.flatten.size})"
  %thead
    %tr
      %td S
      %td M
      %td T
      %td W
      %td T
      %td F
      %td S
  %tbody
  - 0.upto(5) do |week|
    %tr{:id => "week-#{week+1}"}
      - 0.upto(6) do |day|
        - point = (week * 7) + day
        %td
          - if (point + 1).between?(offset + first.day, offset + last.day)
            - day = first + point - offset
            %div.date= day.strftime("%d")
            %div.reviews
              - reviews[day].each do |review|
                - title = review.at('title').inner_text.strip
                %a{:href => review.at('link').inner_text.strip,
                   :title => title}<
                  %img{:width => 30, :height => 45,
                       :src => review.at('small_image_url').inner_text,
                       :alt => title}
    - break if point >= offset + last.day - 1
