- first = reviews.keys.sort.first
- last = reviews.keys.sort.last
- offset = first.wday
- escape = false
%table.calendar{:id => "calendar-#{first.strftime("%Y-%m")}"}
  %caption
  %h2
    = first.strftime("%b %Y")
    = "(#{reviews.values.flatten.size})"
  %thead
    %tr
      %td S
      %td M
      %td T
      %td W
      %td T
      %td F
      %td S
  %tbody
  - 0.upto(5) do |week|
    %tr{:id => "week-#{week+1}"}
    - 0.upto(6) do |day|
      - point = (week * 7) + day
      %td
        - if (point + 1).between?(offset + first.day, offset + last.day)
          - day = first + point - offset
          %dl
            %dd= day.strftime("%d")
            - reviews[day].each do |review|
              %dl
                %img{:width => 20, :height => 30,
                     :src => review.at('small_image_url').inner_text,
                     :alt => review.at('title').inner_text}
        - (escape = true; break) if point >= offset + last.day
    - break if escape
