- name = t(@user_info.at('name'))
- user_link = Goodreads.user_link(@user_id)
- count = @all_reviews.search('review').length
- start = @by_day.keys.min
- finish = @by_day.keys.max
- per_week = ((count * 7) / (finish - start)).to_f

%h1
  %a{:href => r('/')} Goodreads timeline
  for user ID
  %a{:href => user_link}= @user_id

:markdown
  ![](#{t(@user_info.at('small_image_url'))}) <span
  id="user-name">[#{name}](#{user_link})</span> has read
  #{thousands(count)} books over #{thousands(finish - start)} days
  from #{start} to #{finish}. (That's around #{sprintf('%01.2f',
  per_week)} books per week.) There are [charts](#charts) and
  [calendars](#calendars) available of their reading history.
  {:#user-info}

  They might have read more or less than this -- all this shows is
  what they've entered into [Goodreads](http://www.goodreads.com/).

#charts
  %h2
  #chart

%h2#calendars Monthly reading calendars
- @by_month.keys.sort.each do |month|
  = partial(:_calendar, {:reviews => @by_month[month]})
